/* *{
    padding: 0;
    margin: 0;

} */

body {
    /* display: flex;
    height: 100vh;
    justify-items: center;
    margin: auto;
    align-items: center; */
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    font-family:Arial, Helvetica, sans-serif;
    

}
main {
    margin: auto;
    width: 30%;
}

.form, #progress {
    /* border: 2px solid peru; */
    border-radius: 4px;
    padding: 20px;
    width: 300px;
    margin: 10vh auto 0 auto;
    background-color: whitesmoke;
    font-size: 12px;
    max-width: 400px; 
    box-sizing: border-box;

    
}
/* label{
    font-weight: bold;
    font-size: 20px;
} */
.type-text{
    display: flex;
    flex-direction: column;
}

 .type-text input{
    display: block;
    width: 98%;
    padding: 10px;
    font-size: 12px;
    border-radius: 4px;
    border: 2px solid #f0f0f0;
}
.type-text input:focus{
    outline: 0;

}

.type-text.success input{
    border-color: #09c372;
}
.type-text.error input{
    border-color: #ff3860;
}

.type-text .error{
    color: #ff3860;
    font-size:9px;
    height: 13px;
}

.input-control{
    display: flex;
    flex-direction: column;
}

.input-control input{
    display: block;
    width: 98%;
    padding: 10px;
    font-size: 12px;
    border-radius: 4px;
    border: 2px solid #f0f0f0;
    box-sizing: border-box;
}
.input-control input:focus{
    outline: 0;

}

.input-control.success input{
    border-color: #09c372;
}
.input-control.error input{
    border-color: #ff3860;
}

.input-control .error{
    color: #ff3860;
    font-size:9px;
    height: 13px;
}

 .form h2{
    text-align:justify;
    color: #0f2027;
    margin-bottom: 5px;

    /* background: white;
    width: 50%;
    margin-top: 1rem;
    background-color: gray;
    padding:5px;
    border-radius: 10px;
     */
}

select option {
  width: 300px;
}
.form #btn-1{
    background: rgb(41, 57, 194);
    color: white;
    width: 100%;
    border: none;
    border-radius: 4px;
    margin: 1rem 0 1rem 0;
    padding: 10px;
    cursor: pointer;
    /* font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
*/
}

.form .btn-2{
    background: rgb(41, 57, 194);
    color: white;
    width: 100%;
    border: none;
    border-radius: 4px;
    margin: 1rem 0 1rem 0;
    padding: 10px;
}
.form img {
    border-radius: 4px;
    width: 100px;
    margin-top: 50px;
    align-content: center;
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
  }
/* }
.type-text #model_error,
.type-text #mill_error,
.type-text #use_error{
    margin-top: 5px;
    width: 345px;
    font-size: 18px;
    background: rgb(255, 0, 0, 0.1);
    text-align: center;
    color: #C62828;
    padding: 5px 8px;
    border-radius: 3px;
    border: 1px solid #EF9A9A;
    display: none;
} */

#progress{
    z-index: 9999;
    top: 0;
    margin: 0;
    left: 0;
    background: transparent;
}
.spin{
    margin: auto;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid white;
    border-top: 2px solid blue;
    animation: spin 2s linear infinite;
}

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}



@media screen and (max-width: 550px) {
    /* CSS rules to apply when the screen width is 768 pixels or less */
    main {
      width: 100%;
      padding: auto;
      box-sizing: border-box;

      
    }
   
    /* body, html {
        overflow-x: auto;
      } */

    .form {
        width: 100%;
        justify-content: center;
        max-width:300px; 
        padding: auto;
        box-sizing: border-box;
        
      }
      img {
        max-width: 100%;
        height: auto;
      }
   
}
